﻿<!DOCTYPE html>
<html>
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/assets/images/clock.png" />

    <title>@ViewBag.Title - Insurancedirect.ng</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    @*<div class="pageloader"></div>
    <div class="infraloader is-active"></div>*@
    <!-- Hero and nav -->
    <!-- /Hero and nav -->
    @{ Html.RenderPartial("_Header");}


    @RenderBody()

    <!-- Footer light -->
    <footer class="footer container footer-light">
        <div class="container">
            <div class="columns footer-columns is-flex-mobile">
                <!-- Column -->
                <div class="column is-half-mobile">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Product</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="features.html">Hope Life</a></li>
                            <li><a href="features.html">The Clock</a></li>
                            <li><a href="#">Fire</a></li>
                            <li><a href="#">Aviation</a></li>
                            <li><a href="#">Marine</a></li>
                        
                        </ul>
                    </div>
                </div>
                <!-- Column -->
                <div class="column is-half-mobile">
                    <div class="footer-column">
                        <div class="footer-header">
                            <h3>Company</h3>
                        </div>
                        <ul class="link-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Terms of service</a></li>
                           
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Column -->
                
                <!-- Column -->
                <div class="column ">
                    <div class="footer-column">
                        <div class="footer-logo">
                            <img src="~/assets/images/logos/logo_black.png" alt="">
                        </div>
                        <div class="footer-header">
                            <p class="text-primary">
                              Insurancedirect.ng is the largest online Insurance platform in Nigeria. For over 3 years, our customers have bought Insurance policies, got covered with less premiums.

                              
                            </p>
                            <p>
                              
                            </p>
                            @*<nav class="level is-mobile">
                                <div class="level-left level-social">
                                    <a class="level-item">
                                        <span class="icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon"><i class="fa fa-linkedin"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon"><i class="fa fa-dribbble"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon"><i class="fa fa-github"></i></span>
                                    </a>
                                </div>
                            </nav>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Side navigation -->
    <!-- /Side navigation -->        <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>        <!-- Bulchat Button -->


    @Scripts.Render("~/bundles/jscontent")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)


    @* for progress loading *@
    <script type="text/javascript">

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                $("#progress").show();
            }
        });

    </script>


    @* Toastr message *@
    <script type="text/javascript">
    $(document).ready(function () {
        @if (TempData["success"] != null)
    {

        @:showSuccessToast('@TempData["message"]');
     TempData.Clear();

    }

          else if (TempData["info"]!= null)
          {

        @:showInfoToast('@TempData["message"]');
          TempData.Clear();
        }
    });
    </script>
</body>
</html>
