﻿@model Insurancedirect.ViewModels.Account.Create_accountVM

@{
    ViewBag.Title = "Create_account";
}


<div class="hero hero-wavy is-theme-primary">
    <div id="main-hero" class="hero-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
                    {
                        @Html.AntiForgeryToken()

                        <div id="" class="animated preFadeInLeft fadeInLeft">
                            <div class="flex-card clean-login-card">

                                <h2 class="text-bold has-text-centered dark-text">Create Account</h2>
                                @{ Html.RenderPartial("_ProgressSpin");}

                                @{ Html.RenderPartial("_messagepanelPartial");}
                           
                                    <div class="form-group row">
                                        <label class="dark-text text-bold" for="">Title</label>
                                        @Html.DropDownListFor(model => model.Title, ViewBag.titles as List<SelectListItem>, "select Title", new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group row">
                                        <label class="dark-text text-bold" for="">Firstname</label>
                                        @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group row">
                                        <label class="dark-text text-bold" for="">Lastname</label>
                                        @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group row">
                                        <label class="dark-text text-bold" for="">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group row">
                                        <label class="dark-text text-bold">Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group row">
                                        <label class="dark-text text-bold" >Confirm Password</label>
                                        @Html.PasswordFor(model => model.confirmpassword, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger text-small" })


                                    </div>


                                    <div class="form-group row">
                                        <label class="dark-text text-bold" >Mobile number</label>
                                        @Html.TextBoxFor(model => model.MobileNo1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MobileNo1, "", new { @class = "text-danger text-small" })


                                    </div>



                                    <div class="mt-20">
                                        <input type="submit" value="Create Account" class="button button-cta btn-align success-btn is-fullwidth rounded raised no-lh" />

                                    </div>
                                    <p class="has-text-centered pt-20 pb-20">
                                        <a class="no-account is-secondary" href="/Account/forgotpwd">Forgot your password?</a>
                                    </p>
                         
                            </div>


                        </div>
                    }

                </div>
            

                <div class="col-md-6">
                    <div class="flex-card signup-context pt-40 hidden-sm hidden-xs primary-card light-raised padding-40">
                        <h2 class="title is-4 is-landing-light has-text-centered light-text">What you get.</h2>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="fa fa-heartbeat"></i>
                            </div>
                            <div class="argument-text light-text">
                                Health Insurance Cover  up to 5% of your chosen sum assured.
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="argument-text light-text">
                                Personal Accident Cover up to 25% of your Life Policy Balances
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument pb-40">
                            <div class="icon">
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="argument-text light-text">
                                Enjoy Tax benefits on your premium contributions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="columns is-vcentered pt-50 pb-50">
                <div class="column is-5 is-offset-2 z-index-2">
                    <!-- Login form -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
                    {
                        @Html.AntiForgeryToken()

                        <div id="login-card" class="animated preFadeInLeft fadeInLeft">
                            <div class="flex-card clean-login-card">

                                <h2 class="text-bold has-text-centered dark-text">Create Account</h2>
                                @{ Html.RenderPartial("_ProgressSpin");}

                                @{ Html.RenderPartial("_messagepanelPartial");}
                                <div class="pt-10 pb-10">
                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="">Title</label>
                                        @Html.DropDownListFor(model => model.Title, ViewBag.titles as List<SelectListItem>, "select Title", new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="">Firstname</label>
                                        @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="">Lastname</label>
                                        @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="exampleInputPassword">Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger text-small" })


                                    </div>

                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="exampleInputPassword">Confirm Password</label>
                                        @Html.PasswordFor(model => model.confirmpassword, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger text-small" })


                                    </div>


                                    <div class="form-group">
                                        <label class="dark-text text-bold" for="exampleInputPassword">Mobile number</label>
                                        @Html.TextBoxFor(model => model.MobileNo1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MobileNo1, "", new { @class = "text-danger text-small" })


                                    </div>



                                    <div class="mt-20">
                                        <input type="submit" value="Create Account" class="button button-cta btn-align success-btn is-fullwidth rounded raised no-lh" />

                                    </div>
                                </div>
                            </div>

                            <p class="has-text-centered pt-20 pb-20">
                                <a class="no-account is-secondary" href="/Account/forgotpwd">Forgot your password?</a>
                            </p>
                        </div>
                    }


                </div>

                <div class="column is-4 z-index-2">
                    <div class="flex-card signup-context primary-card light-raised padding-40">
                        <h2 class="title is-4 is-landing-light has-text-centered light-text">What you get.</h2>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="fa fa-heartbeat"></i>
                            </div>
                            <div class="argument-text light-text">
                                Health Insurance Cover  up to 5% of your chosen sum assured.
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <div class="argument-text light-text">
                                Personal Accident Cover up to 25% of your Life Policy Balances
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument pb-40">
                            <div class="icon">
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="argument-text light-text">
                                Enjoy Tax benefits on your premium contributions
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>*@
        </div>
    </div>
</div>

