﻿
@{
    ViewBag.Title = "faq";
}

<div class="section section-feature-grey">
    <div class="container">
        <h2 class="pull-left">FAQs</h2>

    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="has-text-centered  text-success">
            Frequently asked questions from Visitors. Hope you find the answer to your Question here.

        </h2>
        <br />
        <br />
        <div class="row">
            

            <div class="col-md-12 has-text-centered">
                <p>
                    <button type="button" class="btn btn-info text-bolder" data-toggle="collapse" data-target="#demo">What is Insurancedirect?</button>
                    <div id="demo" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </p>
            
                <p>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                    <div id="demo" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </p>
                <p>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                    <div id="demo" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </p>
             
            </div>

        </div>
        <p class="levitate has-text-centered">
            <button type="button" class="btn btn-lg btn-success">Get started Now</button>
        </p>
    </div>
</div>
