﻿@model Insurancedirect.ViewModels.Office.PreviewinfoVM

@{
    ViewBag.Title = "Previewinfo";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Buy <strong class="text-success">TheClock™</strong>  Policy</h4>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-8">
        <div class="card-box">
            <h4 class="card-title">Preview Your Information</h4>


            @{Html.RenderPartial("_ProgressSpin");}

            @{Html.RenderPartial("_messagepanelPartial");}



            @if (ViewBag.producttype == "TC")
            {

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Insuredname</label>
                    <div class="col-md-7">

                        <strong class="text-success">@Html.DisplayFor(m => m.theclock.Insuredname)</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Vehicle Insurance Class</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Vehicle_Insurance_class</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Vehicle Make</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Vehicle_make</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Vehicle Model</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Vehicle_model</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Vehicle Year</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Vehicle_year</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Registration number</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Registeration_number</strong>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-form-label col-md-3">Engine number</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Engine_number</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Colour</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Colour</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Chasis number</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Chasis_number</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Usage</label>
                    <div class="col-md-7">
                        <strong class="text-success text-bold">@Model.theclock.Usage</strong>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Vehicle Tracking company name</label>
                    <div class="col-md-7">
                        @if (Model.theclock.Track_comp_name != "")
                        {
                            <strong class="text-success text-bold">@Model.theclock.Track_comp_name</strong>
                        }
                        else
                        {
                            <strong class="text-success text-bold">N/A</strong>
                        }

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Tracking company Address</label>
                    <div class="col-md-7">
                        @if (Model.theclock.Track_comp_address != "")
                        {
                            <strong class="text-success text-bold">@Model.theclock.Track_comp_address</strong>
                        }
                        else
                        {
                            <strong class="text-success text-bold">N/A</strong>
                        }

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3">Tracking company Phone no.</label>
                    <div class="col-md-7">
                        @if (Model.theclock.Track_comp_phone != "")
                        {
                            <strong class="text-success text-bold">@Model.theclock.Track_comp_phone</strong>
                        }
                        else
                        {
                            <strong class="text-success text-bold">N/A</strong>
                        }

                    </div>
                </div>
            }
            else if (ViewBag.producttype == "HL")
            {

            }

            <div class="form-group row">

                <div class="col-md-10">
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>


        </div>
    </div>

    @{ Html.RenderAction("Sidepoliciesview", "Office");}


</div>


}

