﻿@model Insurancedirect.ViewModels.Office.theclockVM

@{
    ViewBag.Title = "Theclock";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Buy <strong class="text-success">TheClock™</strong>  Policy</h4>
    </div>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Note!</strong> Please Complete the registration of your account <a href="#" class="alert-link">Complete registration here!</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
{
    @Html.AntiForgeryToken()

<div class="row">



    <div class="col-md-8">
        <div class="card-box">
            <h4 class="card-title">Your Vehicle Information</h4>
            <div class="breadcrumb">
                <span><i class="fa fa-info-circle"></i> Please make sure all Vehicle information are typed correctly.</span>
            </div>
            @{Html.RenderPartial("_messagepanelPartial");}
            @{Html.RenderPartial("_ProgressSpin");}
            <div class="form-group row">
                <label class="col-form-label col-md-2">Insuredname</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Insuredname, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Insuredname, "", new { @class = "text-danger text-small text-upper" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Vehicle make</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Vehicle_make, ViewBag.vehiclemakes as SelectList, "Select Vehicle Make", new { @class = "form-control", @id = "make" })
                    @Html.ValidationMessageFor(model => model.Vehicle_make, "", new { @class = "text-danger text-small" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Vehicle model</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Vehicle_model, new SelectList(" "), "Select Vehicle model", new { @class = "form-control", @id = "brand" })
                    @Html.ValidationMessageFor(model => model.Vehicle_model, "", new { @class = "text-danger text-small" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Vehicle Year</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Vehicle_year, ViewBag.years as SelectList, "Select Vehicle year", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Vehicle_model, "", new { @class = "text-danger text-small" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Insurance class</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Vehicle_Insurance_class, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Vehicle_Insurance_class, "", new { @class = "text-danger text-small" })
                </div>
            </div>


            <div class="form-group row">
                <label class="col-form-label col-md-2">Usage</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Usage, ViewBag.insuranceclass as List<SelectListItem>, "select Insurance class", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "text-danger text-small" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Registration number</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Registeration_number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Registeration_number, "", new { @class = "text-danger text-small" })
                </div>
            </div>


            <div class="form-group row">
                <label class="col-form-label col-md-2">Engine number</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Engine_number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Engine_number, "", new { @class = "text-danger text-small" })
                </div>
            </div>


            <div class="form-group row">
                <label class="col-form-label col-md-2">Chasis number</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Chasis_number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Chasis_number, "", new { @class = "text-danger text-small" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-2">Colour</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Colour, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger text-small" })
                </div>
            </div>
            <div class="card member-panel">
                <div class="card-header bg-success">
                    <a style="color:white;" data-toggle="collapse" class="card-title m-b-0" href="#collapse1">Do you have a vehicle tracking company? <i class="fa fa-2x fa-plus-circle pull-right"></i></a>
                    @*<h4 style="color:white;" class="card-title m-b-0">You have a vehicle tracking company?</h4>*@
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Company name</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Track_comp_name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Track_comp_name, "", new { @class = "text-danger text-small" })
                            </div>
                            <label class="col-form-label col-md-2">Mobile no.</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Track_comp_phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Track_comp_phone, "", new { @class = "text-danger text-small" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Company Address</label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.Track_comp_address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Track_comp_address, "", new { @class = "text-danger text-small" })
                            </div>
                          

                        </div>
                    </div>
                </div>
                    
                </div>
                <center>
                    <div class="form-group row">

                        <div class="col-md-12">

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit <i class="fa fa-arrow-circle-right"></i></button>  <button type="submit" class="btn btn-white">Cancel <i class="fa fa-times-circle"></i></button>
                            </div>

                        </div>

                    </div>
                </center>


            </div>
            </div>
            @{ Html.RenderAction("Sidepoliciesview", "Office");}


        </div>
}

@section scripts
{



    <script>
        $(function () {


            //Automaticllaay bind vehicle brand
            $('#make').on('change', function () {
                var url = '@Url.Content("~/")' + "Office/GetvehicleMakeBrand";
                var ddlsource = "#make";

                $.getJSON(url, { makeid: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#brand").empty();
                    $.each(data, function (i, row) {
                        items += "<option value='" + row.Brand + "'>" + row.Brand + "</option>";
                    });
                    $("#brand").html(items);
                });
            });
        });
    </script>


}